<h1>Watch List</h1>

<ul>
    {{#each movies}}
    <p>{{id}}. {{movie_title}} <button class="deleteBtn"id ={{id}}>DELETE</button></p>
    {{/each}}
</ul>

<h2>Add a movie</h2>
<form action="/" method="POST">
    <textarea type="text" name="movie_title"></textarea>

    <button type="submit">Submit</button>
</form>

<h2>Update a Movie</h2>
<form id="update-form">
    <input id="movie-id" type="text" name="id" placeholder="movie id">
    <textarea id="movie-title" type="text" name="movie_title" placeholder="movie title"></textarea>

    <button type="submit">Submit</button>
</form>

<script>
    $("#update-form").on("submit", function (event) {
        event.preventDefault();
        const id = $("#movie-id").val().trim();
        const title = $("#movie-title").val().trim();

        $.ajax({
            method: "PUT",
            url: `/`,
            data: { title: title, id: id }
        }).then(() => {
            location.reload();
        })
    });

    $(".deleteBtn").on("click", function (event) {
        event.preventDefault();

        const id = $(this).attr("id");
        //const id = $("this")
        //const title = $("#movie-title").val().trim();

        $.ajax({
            method: "DELETE",
            url: `/`,
            data: { id: id }
        }).then(() => {
            location.reload();
        })
    });


</script>